.header {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 15px 15px 5px 15px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
}

.header__left > img {
  height: 40px;
  object-fit: contain;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 5px;
  margin-left: 10px;
  border-radius: 33px;
}

.header__input > input {
  border: none;
  background-color: transparent;
  /* removes border from input */
  outline-width: 0;
}

.header__input > .MuiSvgIcon-root {
  color: gray;
}

.header__icon {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header__icon--active {
  color: #2e81f4;
}

.header__icon--active > .MuiSvgIcon-root {
  color: #2e81f4 !important;
}

.header__icon--active {
  border-bottom: 4px solid #2e81f4;
}

.header__icon:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-radius: none;
}

.header__icon:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__icon > .MuiSvgIcon-root {
  color: gray;
}

.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__right {
  display: flex;
}

.header__userInfo {
  display: flex;
  align-items: center;
}

.header__userInfo > h4 {
  margin-left: 10px;
}

@media (max-width: 900px) {
  .header__input {
    display: none !important;
  }
}

@media (max-width: 1190px) {
  .header__hide {
    display: none !important;
  }
}

@media (max-width: 650px) {
  .header--mobileHiden {
    display: none;
    justify-content: space-between;
  }
}
